/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;  background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("../images/img-hero-bg.jpg") center center no-repeat;
  font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */
*{


font-family: 'Gruppo';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/gruppo/v11/WwkfxPmzE06v_ZW1UHrBCIE.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
font-family: 'Gruppo';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/gruppo/v11/WwkfxPmzE06v_ZW1XnrB.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
  background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("../images/img-hero-bg.jpg") center center no-repeat;

  text-align: center;
  vertical-align:-webkit-baseline-middle;
  font-size: 300px;
  font-family: 'Gruppo';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/gruppo/v11/WwkfxPmzE06v_ZW1UHrBCIE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-family: 'Gruppo';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/gruppo/v11/WwkfxPmzE06v_ZW1UHrBCIE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;s
}


html{
  background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("../images/img-hero-bg.jpg") center center no-repeat;

}

body{
  font-family: 'Gruppo';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/gruppo/v11/WwkfxPmzE06v_ZW1XnrB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-family: 'Gruppo';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/gruppo/v11/WwkfxPmzE06v_ZW1UHrBCIE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("../images/img-hero-bg.jpg") center center no-repeat;

  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}
body{
  margin: 0;
  padding: 0;
  background: #333;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elementor-widget-wrap > .elementor-element {
    width: 10%;
}
.elementor-widget {
    position: relative;
}
.elementor *, .elementor ::after, .elementor ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
* {
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
}
* {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}
.elementor {
    hyphens: manual;
}
.entry-content {
    word-wrap: break-word;
}
/* ---- particles.js container ---- */

#particles-js{
  font-family: bungee,sans-serif;
font-weight: 500;
font-style: normal;
color: white;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("../images/img-hero-bg.jpg") center center no-repeat;

  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  fill;
  
}
.particles-js-canvas-el{
  position: absolute;
}
link1{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 5;
}
